:root {
    --dark: #410c3e;
    --light: #c5c3c5;
    --style-color: #b8a6b5;
    --accent-color: #9f4c94;
  }

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--light);
}

h1 {
    color: var(--dark);
    background-color: var(--light);
    text-align: center;
    padding: 10px 0;
    border: 1px solid var(--dark);
    margin: 10px 0;
}

.cards-header {
    background-color: var(--style-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

h2 {
    text-align: center;
    border: 1px solid var(--dark);
    color: var(--dark);
    width: fit-content(20em);
    padding: 10px 20px;
    margin: 5px 0px;
}

.card-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--style-color);
}

.card {
    display: flex;
    justify-content: center;
    max-width: 100px;
    margin: 0 150px;
}

.title-parent {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.card-title {
    text-align: center;
    border: 1px solid var(--dark);
    padding: 4px;
    background-color: var(--light);
    min-width: 250px;
    min-height: 35px;
    position: relative;
    color: var(--dark);
}

p {
    color: var(--dark);
}

.card-subheader {
    border: 1px solid var(--dark);
    padding: 35px 20px 90px 20px;
    min-width: 350px;
    min-height: 100px;
    color: var(--dark);
}

.snippet-parent {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
}

.code-snippet {
    border: 1px solid var(--dark);
    background-color: var(--accent-color);
    padding: 24px 140px;
    color: var(--dark);
}

footer {
    background-color: var(--light);
    padding: 5px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    color: var(--dark)
}

h3 {
    text-align: center;
    border: 1px solid var(--dark);
    width: 100%;
    min-height: 40px;
    padding: 10px 0;
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}